### COMMON
# Host where is located your code.
# For local development it can be host from ngrok. For example https://521ebfa691f7.ngrok.io
# After deploy it can be server public hostname. For example https://you-app-name.herokuapp.com
WEBHOOK_HOST=
# default 8080
PORT=

### TELEGRAM
# https://core.telegram.org/bots#6-botfather
TELEGRAM_TOKEN=

### DISCORD
# https://discord.com/developers/applications/<PASTE_YOUR_ID>/bot
DISCORD_TOKEN=

### FACEBOOK
# Dashboard -> Settings -> Basic
# https://developers.facebook.com/apps/<id>/dashboard/
FACEBOOK_APP_SECRET=
# Messenger -> Settings -> Access Tokens
# https://developers.facebook.com/apps/<id>/messenger/settings/
FACEBOOK_PAGE_ACCESS_TOKEN=
# Messenger -> Settings -> Webhooks
# https://developers.facebook.com/apps/<id>/messenger/settings/
FACEBOOK_VERIFY_TOKEN=

### SLACK
# https://api.slack.com/authentication/verifying-requests-from-slack#about
SLACK_TOKEN=
# https://api.slack.com/authentication/token-types#granular_bot
SLACK_SIGNING_SECRET=
